.search-bar {
    width: 100% !important;
    margin: 2rem 0;   
}

.search {
    margin: 0 auto;
    width: 50% !important;
    text-align: center;
}

.search-input {
    display: inline-block !important;
    width: 88% !important;
    height: 3rem !important;
    margin: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

.frontside .card .card-body img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.card {
    margin: 1rem 0;
}

.card-text {
    font-size: 1.2em;
}